{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered" id="myTable">
        <thead>
            <th>ID</th>
            <th>Titre</th>
            <th>Sous-titre</th>
            <th>Auteur</th>
        </thead>
        <tbody>
            {% for article in articleList %}
                <tr>
                    <td><a href="{{ path("article_details", {id:article.id}) }}">{{ article.id }}</a></td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.sousTitre }}</td>
                    {% if article.auteur is not null %}
                        <td>{{ article.auteur.prenom }} {{ article.auteur.nom }}</td>
                    {% else %}
                        <td>Auteur inconnu</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_AUTEUR') %}
        <a class="btn btn-block btn-dark" href="{{ path('article_create') }}">Créer un nouvel article</a>
    {% endif %}

{% endblock %}